.corner-fix {
    position: absolute;
    left: -1.75em;
    bottom: -0.75em;
}
.nav-icon {
    margin-right: 5px;
}
// RWD for 0px ~ 767px
@media (max-width:767px){
    .corner-fix {
        bottom: 0.7em;
        left: auto;
        right: 1em;
    }
}
